{% extends "base.html" %}

{% block content %}

	<div class="column is-4 is-offset-4">
	{%if to_choose==True%}	
    <h3 class="title">Trump</h3>
    <div class="box">
    	<div id="app"></div>
        <form method="POST" action="/trump_and_partner">
            <div class="field">
                <div class="control">
                	<label for="trump">Choose a Trump Suit:</label>
                    <select name="trump">
                    	{% for suit in suits %}
                    		<option value="{{suit}}">{{suit}}</option>
                    	{%endfor%}
                    </select>
                </div>
            </div>
            {%for i in range(1, number_of_partners+1) %}
            <div class="field">
                <div class="control">
                	<label for="partner_suit{{i}}">Choose Partner {{i}}:</label>
                    <select name="partner_suit{{i}}">
                    	{% for suit in suits %}
                    		<option value="{{suit}}">{{suit}}</option>
                    	{%endfor%}
                    </select>
                    <select name="partner_value{{i}}">
                    	{% for value in values %}
                    		<option value="{{value}}">{{value}}</option>
                    	{%endfor%}
                    </select>
                    <select name="partner_turn{{i}}">
                    	{% for t in turn %}
                    		<option value="{{t}}">{{t}}</option>
                    	{%endfor%}
                    </select>
                </div>
            </div>
            {%endfor%}
            <button class="button is-block is-info is-fullwidth" id="Select">Make Selection</button>
        </form>
    </div>
    {%endif%}
    
    </div>
    {% include "hand.html"%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	function check_selection(){
  $.ajax({
    url: '/check_selection',
    success:  function(data) {
      console.log(data);
      if (data=="True")
        window.location.href = "/round/1";
        },
      timeout: 5000 //If timeout is reached run again
  });
}
setInterval(check_selection, 5000);
</script>

{% endblock %}