<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="cards.css") }}'>
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie.css" media="screen" />
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie9.css" media="screen" />
    <![endif]-->
    <!-- the following js and css is not part of the CSS cards, but only for this example page -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript"><!--
    $(document).ready(function(){
        $('.options').addClass('active');
        $('.toggle li').click(function(){
            $('.playingCards').toggleClass($(this).text());
        });
        $('.lang li').click(function(){
            $('html').attr('lang', $(this).text());
            $('html').attr('xml:lang', $(this).text());
        });
    });
    //--></script>
    <style type="text/css">
        .options.active {
            position: fixed;
            top: 1em;
            right: 1em;
            background: #ddd;
            padding: .5em;
        }
        .options.active h3 {
            font-size: 1.2em;
        }
        .options.active ul {
            padding: 0;
        }
        .options.active li {
            color: #00c;
            text-decoration: underline;
            margin-left: 1.5em;
            cursor: pointer;
        }
        .options.active li:hover {
            text-decoration: none;
        }
        div.clear {
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 1px;
            visibility: hidden;
        }
       .inactiveLink {
        pointer-events: none;
        cursor: default;
        } 
    </style>
<div class="column is-4 is-offset-4">
<div class="playingCards faceImages rotateHand">
<ul class="{{activityClass}} hand">
  	{%for card in cards%}
  		<li><a class="card rank-{{card.value}} {{card.suit}}" href="/make_move/{{card.suit}}/{{card.value}}/{{round_id}}">
  			<span class="rank">{{card.value}}</span>
  			<span class="suit">&{{card.suit}};</span>
  		</a>
  	</li>
  	{%endfor%}
 </ul>
</div>
</div>