{% extends "base.html" %}

{% block content %}

<marquee>
    <span>Trump:</span>
    <span class="suit">&{{trump}};</span>

    <span>;</span>

    <span>Partners:</span>
    {%for i in partner_cards%}

    <span class="rank">{{i[1]}}</span>
    <span class="suit">&{{i[0]}};</span>
    <span>,</span>

    {%endfor%}

    {%if partner_cards|length == 0 %}
    <span>None</span>
    {%endif%}


</marquee>

<span style="padding-left: 30px;">Player Order:</span>
{%for player in player_order%}

<span>{{player}}</span>
<span>,</span>

{%endfor%}
<div style="padding-left: 30px;width: 100%;overflow: scroll;">
    Table:
    <div style="display: table-cell;">
        <div class="playingCards faceImages">
            <ul class="table">
                {%for card in table_cards%}
                <li>
                    <div class="card {{card.suit}}" href="">
                        <span class="rank">{{card.value}}</span>
                        <span class="suit">&{{card.suit}};</span>
                    </div>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>
</br>

{% include "hand.html"%}

</br>
<style>
    .flex-container {
        display: flex;
    }

    .flex-child {
        flex: 1;

    }

    .flex-child:first-child {
        margin-right: 20px;
    }
</style>

<div class="flex-container" style="overflow: scroll;padding-left: 30px;">
    Past {{past_rounds|length}} Rounds:</br>


    {%for past_round in past_rounds%}
    <div class="flex-child" >
        <div class="playingCards faceImages rotateHand" style="width: 100px;">
            <ul class="hand">
                {%for card in past_round%}
                <li><span class="card {{card.suit}}" href="/make_move/{{card.suit}}/{{card.value}}/{{round_id}}">
                        <span class="rank">{{card.value}}</span>
                        <span class="suit">&{{card.suit}};</span>
                    </span>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

</br>


<script type="text/javascript">
    function check_next_turn() {
        $.ajax({
            url: '/next_turn/{{turn_id}}/{{round_id}}',
            success: function (data) {
                console.log(data);
                if (data == "True")
                    window.location.href = "/round/{{round_id}}";
            },
            timeout: 5000 //If timeout is reached run again
        });
    }
    setInterval(check_next_turn, 5000);
</script>

{% endblock %}

<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="cards.css") }}'>
<!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie.css" media="screen" />
    <![endif]-->
<!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie9.css" media="screen" />
    <![endif]-->
<!-- the following js and css is not part of the CSS cards, but only for this example page -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">< !--
        $(document).ready(function () {
            $('.options').addClass('active');
            $('.toggle li').click(function () {
                $('.playingCards').toggleClass($(this).text());
            });
            $('.lang li').click(function () {
                $('html').attr('lang', $(this).text());
                $('html').attr('xml:lang', $(this).text());
            });
        });
    //--></script>
<style type="text/css">
    .options.active {
        position: fixed;
        top: 1em;
        right: 1em;
        background: #ddd;
        padding: .5em;
    }

    .options.active h3 {
        font-size: 1.2em;
    }

    .options.active ul {
        padding: 0;
    }

    .options.active li {
        color: #00c;
        text-decoration: underline;
        margin-left: 1.5em;
        cursor: pointer;
    }

    .options.active li:hover {
        text-decoration: none;
    }

    div.clear {
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 1px;
        visibility: hidden;
    }

    .inactiveLink {
        pointer-events: none;
        cursor: default;
    }
</style>