{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<div class="playingCards faceImages rotateHand">
<ul class="table">
  	{%for card in table_cards%}
  		<li><div class="card rank-{{card.value}} {{card.suit}}" href="">
  			<span class="rank">{{card.value}}</span>
  			<span class="suit">&{{card.suit}};</span>
  		</div>
  	</li>
  	{%endfor%}
 </ul>
</div>

{% include "hand.html"%}

<h2 class="subtitle">
	Trump: 
	<div class="playingCards faceImages rotateHand">
		<div class="card rank-8 {{trump}}">
    		<span class="rank"></span>
    		<span class="suit">&{{trump}};</span>
		</div>

	Partners:
	{%for i in partner_cards%}
		<div class="card rank-{{i[1]}} {{i[0]}}">
    		<span class="rank">{{i[1]}}</span>
    		<span class="suit">&{{i[0]}};</span>
		</div>
	{%endfor%}
	</div>
</h2>

<script type="text/javascript">
	function check_next_turn(){
  $.ajax({
    url: '/next_turn/{{turn_id}}/{{round_id}}',
    success:  function(data) {
      console.log(data);
      if (data=="True")
        window.location.href = "/round/{{round_id}}";
        },
      timeout: 5000 //If timeout is reached run again
  });
}
setInterval(check_next_turn, 5000);
</script>

{% endblock %}

<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="cards.css") }}'>
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie.css" media="screen" />
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie9.css" media="screen" />
    <![endif]-->
    <!-- the following js and css is not part of the CSS cards, but only for this example page -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript"><!--
    $(document).ready(function(){
        $('.options').addClass('active');
        $('.toggle li').click(function(){
            $('.playingCards').toggleClass($(this).text());
        });
        $('.lang li').click(function(){
            $('html').attr('lang', $(this).text());
            $('html').attr('xml:lang', $(this).text());
        });
    });
    //--></script>
    <style type="text/css">
        .options.active {
            position: fixed;
            top: 1em;
            right: 1em;
            background: #ddd;
            padding: .5em;
        }
        .options.active h3 {
            font-size: 1.2em;
        }
        .options.active ul {
            padding: 0;
        }
        .options.active li {
            color: #00c;
            text-decoration: underline;
            margin-left: 1.5em;
            cursor: pointer;
        }
        .options.active li:hover {
            text-decoration: none;
        }
        div.clear {
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 1px;
            visibility: hidden;
        }
       .inactiveLink {
        pointer-events: none;
        cursor: default;
        } 
    </style>